<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.onyxbits.textfiction"
	android:versionCode="9"
	android:versionName="2.5" >

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Nemo" >
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateAlwaysHidden" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="application/x-zmachine" />
				<data android:mimeType="application/x-blorb" />
			</intent-filter>
		</activity>
		<activity
			android:name="de.onyxbits.textfiction.GameActivity"
			android:label="@string/title_activity_game"
			android:parentActivityName=".MainActivity"
			android:windowSoftInputMode="stateAlwaysHidden" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name="de.onyxbits.textfiction.SettingActivity"
			android:theme="@style/AppTheme"
			android:parentActivityName=".MainActivity"
			android:label="@string/title_activity_setting" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
	</application>

</manifest>